<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="easyui-layout">
	<table id="tb1" class="easyui-datagrid" title="" width="100%"
		height="100%" fit="true" border="0"
		data-options="rownumbers:true,pagination:true,url:'/pushJMS/getData.do',singleSelect:false,method:'get',toolbar:'#toolbar1',sortName:'sequence',sortOrder:'asc'">
		<thead>
			<tr>
				<th data-options="field:'ck',checkbox:true"></th>
				<th data-options="field:'ID',width:100,align:'center'">id</th>
				<th data-options="field:'TITLE',width:200,align:'center'">名称</th>
				<th
					data-options="field:'JMS_TYPE',width:200,align:'center',
            	     formatter:function(value,row){
            	      			if(value == 1){
            	     			 	return '唤醒app';
            	     			 }else if(value == 2){
            	     			 	return '跳转直播间';
            	     			 }else if(value == 3){
            	     			 	return '跳转H5';
            	     			 }else if(value == 4){
            	     			 	return '跳转个人主页';
            	     			 }
            	     	
               		 }">跳转类型</th>
				<th data-options="field:'JMS_DATE',width:200,align:'center'">推送时间</th>
				<th
					data-options="field:'STATUS',width:200,align:'center',
            	     formatter:function(value,row){
            	     			 if(value == 1){
            	     			 	return '待推送';
            	     			 }else if(value == 2){
            	     			 	return '已推送';
            	     			 }else if(value == 3){
            	     			 	return '已取消';
            	     			 }
            					 
	                		  }">推送状态</th>
				<th data-options="field:'UPDATE_DATE',width:200,align:'center'">操作时间</th>
				<th data-options="field:'OPERATOR',width:200,align:'center'">操作人</th>

			</tr>
		</thead>
	</table>
	<div id="toolbar1" class="easyui-layout"
		style="height: 65px; margin: 3px;">
		<div data-options="region:'center',border:false">
			<a th:each="but : ${buttons}" th:shiro:hasPermission="${but.resurl}"
				th:class="easyui-linkbutton" th:icon="${but.iconCls}" plain="true"
				th:href="|javascript:${but.butFun};|" th:text="${but.name}"></a>
		</div>
		<div data-options="region:'north',border:true" style="height: 40px;">
			<form id="fm" method="post" novalidate>
				<table cellpadding="5">
					<tr>
						<td>推送开始时间:</td>
						<td><input class="easyui-datebox" id="start_time"
							data-options="formatter:myformatter,parser:myparser">到 <input
							class="easyui-datebox" id="end_time"
							data-options="formatter:myformatter,parser:myparser"></td>
						<td>推送ID:</td>
						<td><input class="easyui-validatebox textbox" type="text"
							name="id" id="id"></input></td>
						<td>标题:</td>
						<td><input class="easyui-validatebox textbox" type="text"
							name="title" id="title"></input></td>
						<td>跳转类型:</td>
						<td><select id="jms_type" class="easyui-combobox" name="dept">
								<option value="">全部</option>
								<option value="1">无</option>
								<option value="2">直播间</option>
								<option value="3">h5</option>
								<option value="4">个人主页</option>
						</select></td>
						<td><a href="javascript:search()" class="easyui-linkbutton"
							iconCls="icon-search">查找</a></td>

					</tr>
				</table>
			</form>
		</div>

	</div>
	<script th:inline="javascript">
		var menuName=[[${menuName}]]
	    function add(){
			top.framework.openTab('新增推送', '/pushJMSView/add.do?menuName=新增推送&parentMenuName='+menuName);
		}
		
		function entitySearch(){
			var selecteds = $('#tb1').datagrid('getSelections');
	        if (selecteds == null || selecteds.length == 0) { 
	        	Common.showMsg('查看按钮','请选择操作项！');
	        	return;
	        }
	        if (selecteds.length>1) {
	        	Common.showMsg('查看按钮','不支持多个操作！');
	        	return; 
	        }
			top.framework.openTab('查看推送信息', '/pushJMSView/search.do?menuName=查看推送信息&parentMenuName='+menuName+'&id='+selecteds[0].ID);

		}
		
		function search() {
			var id = $("#id").val();
			var title = $("#title").val(); 
			var start_time = $('#start_time').datebox('getValue');
			var end_time = $('#end_time').datebox('getValue');
			var jms_type = $('#jms_type').combobox('getValue');
			$('#tb1').datagrid({
				url : "/pushJMS/getData.do",
				queryParams : {
					id : id,
					title : title,
					start_time : start_time,
					end_time : end_time,
					jms_type : jms_type
				}
			});
		}
		
		function off(){
			enable(3);
		}
		
		function enable(types){
			var selecteds = $('#tb1').datagrid('getSelections');
	        if (selecteds == null || selecteds.length == 0) { 
	        	Common.showMsg('请选择操作项！');
	        	return;
	        }
	        var str = "";
	        if(types == 3){
	        	str = "确定取消当前推送吗?";
	        }
	        $.messager.confirm('提示',str, 
	    	        function(r){
	    	            if (r){
	    	            	var ids = '';
	    	                $(selecteds).each(function (index) {
	    	                    ids = ids + selecteds[index].ID + ",";
	    	                });
	    	                ids = ids.substring(0, ids.length - 1);
	    	        		$.ajax( {
	    	    				url : '/pushJMS/enable.do?ids='+ids+'&enable='+types,
	    	    				dataType:'text',
	    	    				type: 'get',
	    	    				success : function(result) {
	    	    					if ("success"==result){
	    	    						Common.showMsg('提示',"修改成功");
	    	        				    search();
	    	    					}else{
	    	    						Common.showMsg('提示',"修改失败");
	    	    					}
	    	    					
	    	    				}
	    	    			});
	    	            }
	    	        });
		} 
	</script>
</body>