<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="easyui-layout">
	<table id="tb1" class="easyui-datagrid" title="" width="100%"
		height="100%" fit="true" border="0"
		data-options="rownumbers:true,pagination:true,url:'/financial/findFinancialOfflineDetail.do',singleSelect:true,method:'get',toolbar:'#toolbar1',sortName:'sequence',sortOrder:'asc'">
		<thead>
			<tr>
				<th data-options="field:'ck',checkbox:true"></th>
				<th data-options="field:'NICK_NAME',width:200,align:'center'">用户昵称</th>
				<th data-options="field:'PAY_TYPE',width:200,align:'center'">支付方式</th>
				<th
					data-options="field:'GOAL_AMOUNT',width:200,align:'center',
            	     formatter:function(value,row){
           	     			 	return '￥'+value;
	                		  }">充值金额</th>
				<th data-options="field:'ID',width:200,align:'center'">订单号</th>
				<th data-options="field:'CREATE_TIME',width:200,align:'center'">充值提交时间</th>
				<th data-options="field:'CREATE_DATE',width:200,align:'center'">注册时间</th>
				<th data-options="field:'PAY_STATUS',width:200,align:'center'">状态</th>
				<th data-options="field:'BEFORE_AMOUNT',width:200,align:'center'">充值前金币值</th>
				<th data-options="field:'AFTER_AMOUNT',width:200,align:'center'">充值后金币值</th>
			</tr>
		</thead>
	</table>
	<div id="toolbar1" class="easyui-layout"
		style="height: 65px; margin: 3px;">
		<div data-options="region:'center',border:false">
			<a th:each="but : ${buttons}" th:shiro:hasPermission="${but.resurl}"
				th: class="easyui-linkbutton" th:icon="${but.iconCls}" plain="true"
				th:href="|javascript:${but.butFun};|" th:text="${but.name}"></a>
		</div>
		<div data-options="region:'north',border:true" style="height: 40px;">
			<form id="fm" method="post" novalidate>
				<table cellpadding="5">
					<tr>
						<td>申请时间:</td>
						<td><input class="easyui-datebox" id="start_time"
							data-options="formatter:myformatter,parser:myparser"></td>
						<td>到 <input class="easyui-datebox" id="end_time"
							data-options="formatter:myformatter,parser:myparser"></td>


						<td>用户类型:</td>
						<td><select id="user_status" style="width: 100px"
							class="easyui-combobox" style="width: 100px" name="user_status">
								<option value="">全部</option>
								<option value="-1">去除白名单用户</option>
								<option value="2">白名单用户</option>
								<option value="1">运营用户</option>
						</select></td>
						<td>查询类型:</td>
						<td><select id="select_status" class="easyui-combobox"
							style="width: 100px" name="select_status">
								<option value="1">明细</option>
								<option value="2">汇总</option>
						</select></td>
						<td>用户昵称:</td>
						<td><input class="easyui-textbox" type="text"
							name="nick_name" id="nick_name"></input></td>
						<td><a href="javascript:search()" class="easyui-linkbutton"
							iconCls="icon-search">查找</a></td>

					</tr>
				</table>
			</form>
		</div>

	</div>
	<script th:inline="javascript">
		function search() {
			var start_time = $('#start_time').datebox('getValue');
			var end_time = $('#end_time').datebox('getValue');
			var user_status = $('#user_status').combobox('getValue');
			var select_status = $('#select_status').combobox('getValue');
			var nick_name = $('#nick_name').textbox('getValue');
			$('#tb1').datagrid({
				url : "/financial/findFinancialOfflineDetail.do",
				queryParams : {
					start_time : start_time,
					end_time : end_time,
					user_status : user_status,
					select_status : select_status,
					nick_name : nick_name
				}
			});
		}
	</script>
</body>